<!DOCTYPE html>
<html>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navegacion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                <a target="_blank" href="../Index.html" ;

            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Citas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pacientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Info</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<head>
    <link type="text/css" rel="stylesheet" href="../bootswatch-lumen.css">
    <meta charset="utf-8" />
    <title></title>
    <h1><str>Centro Universitario de atencion psicologica e investigacio</str>n</h1>
    <h2>Unidad de terapia de Pareja</h2>
    <form>

        <div class="chatForm">
            <label for="NombreTerapeuta">Terapeuta</label>
            <input type="text" class="form-control" id="NombreTerapeuta" placeholder="">

            <label for=" Introduzca la fecha">Introduzca la fecha</label>
            <input type="date" name="fecha" />

            <label for=" Numero de sesion">Numero de sesion</label>
            <input type="text" id="Numero de sesion" />


            <label for="Hora de Inicio">Hora de inicio</label>
            <input type="time" name="hora de inicio" />

        </div>
        <div class="form-group">


    </form>

    <h2>Antecedentes y Motivo de consulta</h2>

    <form>
        <div class="chatForm">
            <h3>Datos paciente 1</h3>

            <label for="NombrePaciente1">Paciente</label>
            <input type="text" id="NombrePaciente1">

            <label for=" EdadPaciente1">Edad</label>
            <input type="text" name="EdadPaciente1" />

            <label for=" ActividadPaciente1">Actividad</label>
            <input type="text" id=" ActividadPaciente1" />

            <label for="EstudiosPaciente1">Estudios</label>
            <input type="text" name="EstudiosPaciente1" />




        </div>
        <div class="form-group">
    </form>
    <form2>
        <h3>Datos paciente 2</h3>

        <label for="NombrePaciente2">Paciente</label>
        <input type="text" id="NombrePaciente2">

        <label for=" EdadPaciente2">Edad</label>
        <input type="text" name="EdadPaciente2" />

        <label for=" ActividadPaciente2">Actividad</label>
        <input type="text" id=" ActividadPaciente2" />

        <label for="EstudiosPaciente2">Estudios</label>
        <input type="text" name="EstudiosPaciente2" />

    </form2>

    <form3>
        <h3></h3>
        <h2></h2>
        <label for="EstadoCivil">Estado Civil</label>
        <input type="text" id="EstadoCivil">

        <label for=" Hijos">Hijos</label>
        <input type="text" name="Hijos" />


        <h3>Genograma (familias de origen , relaciones previas, duracion de la actual, hijos propios y del conyuge)</h3>
        <div class="form-group">
            <label for="TextoPreg11"></label>
            <textarea class="form-control" id="TextoPreg11" rows="5"></textarea>
        </div>
        <div class="form-group">



    </form3>

    <label for="Preg12">Como se construyo la consulta: (Quien llamo?, Como fue la referencia?, Que conversaciones hubo sobre la decision de venir?)</label>
    <div class="form-group">
        <label for="TextoPreg12"></label>
        <textarea class="form-control" id="TextoPreg12" rows="5"></textarea>
    </div>
    <div class="form-group">

        
        
        <div>
            <ul class="pagination pagination-sm">
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="Hoja1 formato parejas.html">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="Hoja2 formato parejas.html">2</a>
                </li>
</div>
</head>
<body>

</body>
</html>