<!DOCTYPE html>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navegacion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                <a target="_blank" href="../Index.html" ;></a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Citas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pacientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Info</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>



<html>

<head>

    <link type="text/css" rel="stylesheet" href="../bootswatch-lumen.css">
    <meta charset="utf-8" />
    <title><str>Centro Universitario de atencion psicologica e investigacio</str></title>

    
    <h2>Unidad de terapia de Pareja</h2>

</head>
<body>
<form>
    <label for="Preg412">Como se construyo la consulta: (Quien llamo?, Como fue la referencia?, Que conversaciones hubo sobre la decision de venir?)</label>
    <div class="form-group">
        <label for="TextoPreg12"></label>
        <textarea class="form-control" id="TextoPreg12" rows="5"></textarea>
    </div>
    
    <label for="ContenidosConsulta">Contenidos del motivo de consulta (Seleccione 1 o mas opciones)</label>
    <h1></h1>



   

        <select multiple size="10">
            <option value="1">Demostraciones de afecto</option>
            <option value="2">Sexualidad</option>
            <option value="3">Educacion de hijos</option>
            <option value="4">Finanzas</option>
            <option value="5">Familias de origen</option>
            <option value="6">Violencia</option>
            <option value="7">Temas de recreacion</option>
            <option value="8">Amistades</option>
            <option value="9">Filosofia de vida (creencias,valores)</option>
            <option value="10">Convencionalismos (deberes,derechos)</option>
        </select>
        <script src="../multiple-select.js"></script>
        <script>
            $('select').multipleSelect();
        </script>
    

    <h2>Despliegue del problema y recursos de la pareja</h2>
    <h3><b>Despliegue del problema</b></h3>
    <label for="Descrcontenidos">1.Breve descripcion de los contenidos:</label>


    <div class="form-group">
        <label for="TextoPreg14"></label>
        <textarea class="form-control" id="TextoPreg14" rows="4"></textarea>
    </div>


    <label for="Descrcontenidos">2. Descripcion de las pautas relacionales:</label>
    <div class="form-group">
        <label for="TextoPreg15"></label>
        <textarea class="form-control" id="TextoPreg15" rows="4"></textarea>
    </div>



    <div class="form-group">


        <ul class="pagination pagination-sm">
        <li class="page-item disabled">
            <a class="page-link" href="#"></a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="Hoja1 formato parejas.html">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="Hoja2 formato parejas.html">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="Hoja654 formato parejas.html" 3 ></a>
        </li>
        </ul>
    </div>
</form>




</body>


</html>