<!DOCTYPE html> 
<html>
<head>
    <meta charset="utf-8" />
    <title>Entrevista para adolecentes</title>
    <link rel="stylesheet" href="../Content/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Conten/bootstrap/css/estilos.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Penscape</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" placeholder="Search" type="text">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <section class="jumbotron">
        <div class="container">
            <h1>Centro Universitario de atencion psicologica e investigascion</h1>
            <p>Entrevista para adolecentes</p>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-9 order-md-1">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#identificasion">Indentificacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#historialMigracion">Historial de Migracion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#evalSocioEconomica">Evaluacion socio economica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#motivoConsulta">Motivo de la consulta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#antecedentesFamiliares">Antecedentes familiares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#historia">Historia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#desempeño">Desempeño</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#historiales">Historiales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#anotaciones">Anotaciones</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active show" id="identificasion">
                        <div class="row">
                            <div class="col-md-8 mb-3">
                                <label class="control-label">Nombre</label>
                                <input class="form-control" type="text">
                                <div class="invalid-feedback">
                                    Dato no capturado
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label class="control-label">Edad</label>
                                <input class="form-control" type="text">
                                <div class="invalid-feedback">
                                    Dato no capturado
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label class="control-label">Sexo</label>
                                <div class="form-group">
                                    <select class="custom-select">
                                        <option selected="">Opciones</option>
                                        <option value="1">Hombre</option>
                                        <option value="2">Mujer</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mb-3">
                                <label class="control-label">Lugar y fecha de naciomiento</label>
                                <input class="form-control" type="text">
                                <div class="invalid-feedback">
                                    Dato no capturado
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="control-label">Tiempo de resindir en Tijuana</label>
                                <input class="form-control" type="text">
                                <div class="invalid-feedback">
                                    Dato no capturado
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="control-label">Escolaridad</label>
                                <input class="form-control" type="text">
                                <div class="invalid-feedback">
                                    Dato no capturado
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="control-label">Nombre de la escuela</label>
                                <input class="form-control" type="text">
                                <div class="invalid-feedback">
                                    Dato no capturado
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label class="control-label">Estado Civil</label>
                                <div class="form-group">
                                    <select class="custom-select">
                                        <option selected="">Select</option>
                                        <option value="1">Soltaro</option>
                                        <option value="2">Casado</option>
                                        <option value="3">Otros</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5 mb-3">
                                <label class="control-label">Ocupacion</label>
                                <input class="form-control" type="text">
                                <div class="invalid-feedback">
                                    Capturar
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="control-label">Religion</label>
                                <input class="form-control" type="text">
                                <div class="invalid-feedback">
                                    Capturar
                                </div>
                            </div>
                        </div>
                        <div>
                            <label class="control-label">Domicilio</label>
                            <input class="form-control" type="text">
                            <div class="invalid-feedback">
                                Capturar
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label class="control-label">Telefono de casa</label>
                                <input class="form-control" type="text">
                                <div class="invalid-feedback">
                                    Dato no capturado
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="control-label">Travajo</label>
                                <input class="form-control" type="text">
                                <div class="invalid-feedback">
                                    Capturar
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="control-label">Celular</label>
                                <input class="form-control" type="text">
                                <div class="invalid-feedback">
                                    Capturar
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="historialMigracion">
                        <div class="">
                            <label class="control-label">Lugar de nacimiento</label>
                            <input class="form-control" type="text">
                            <div class="invalid-feedback">
                                Capturar
                            </div>
                        </div>
                        <div class="">
                            <label class="control-label">Lugares donde ha vivido en el pasi</label>
                            <input class="form-control" type="text">
                            <div class="invalid-feedback">
                                Capturar
                            </div>
                        </div>
                        <div class="">
                            <label class="control-label">Tiempo de radicar en Tijuana</label>
                            <input class="form-control" type="text">
                            <div class="invalid-feedback">
                                Capturar
                            </div>
                        </div>
                        <div class="">
                            <label class="control-label">Tiempo de radicar en EUA en caso de averlo echo(especificar los periodos que vivio alla y lugares en donde vivio)</label>
                            <input class="form-control" type="text">
                            <div class="invalid-feedback">
                                Capturar
                            </div>
                            <label class="control-label">(Posterior mente durante la entrevista explorar la vinculacion de todos estos cambios de domicilio con las problematicas que se presentan)</label>
                        </div>
                    </div>
                    
                    <div class="tab-pane fade" id="evalSocioEconomica">
                        <div>
                            <label class="control-label" for="disabledInput">Principal fuente de ingreso</label>
                            <input class="form-control" type="text">
                            <div class="invalid-feedback">
                                Capturar
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label class="control-label" for="disabledInput">Ingreso mensual: Madre</label>
                                <input class="form-control" type="text">
                                <div class="invalid-feedback">
                                    Capturar
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="control-label" for="disabledInput">Padre</label>
                                <input class="form-control" type="text">
                                <div class="invalid-feedback">
                                    Capturar
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="control-label" for="disabledInput">Otro</label>
                                <input class="form-control" type="text">
                                <div class="invalid-feedback">
                                    Capturar
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="">
                            <label class="control-label" for="disabledInput">Vive en casa</label>
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input id="customRadio1" name="customRadio" class="custom-control-input" checked="" type="radio">
                                    <label class="custom-control-label" for="customRadio1">Propia</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="customRadio2" name="customRadio" class="custom-control-input" type="radio">
                                    <label class="custom-control-label" for="customRadio2">Alquilada</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="customRadio3" name="customRadio" class="custom-control-input" type="radio">
                                    <label class="custom-control-label" for="customRadio3">otro</label>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div>
                            <label class="control-label" for="disabledInput"> Cuantas personas avitan en la casa?</label>
                            <input class="form-control" type="text">
                            <div class="invalid-feedback">
                                Capturar
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="">
                            <label class="control-label" for="disabledInput">Tipo de Construccion</label>
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input id="customRadio1" name="customRadio" class="custom-control-input" checked="" type="radio">
                                    <label class="custom-control-label" for="customRadio1">Madera</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="customRadio2" name="customRadio" class="custom-control-input" type="radio">
                                    <label class="custom-control-label" for="customRadio2">material</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="customRadio3" name="customRadio" class="custom-control-input" type="radio">
                                    <label class="custom-control-label" for="customRadio3">otro</label>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="">
                            <label class="control-label" for="disabledInput">Con que servicios cuenta?</label>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck1" type="checkbox">
                                    <label class="custom-control-label" for="customCheck1">Agua</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck2" type="checkbox">
                                    <label class="custom-control-label" for="customCheck2">Luz</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck3" type="checkbox">
                                    <label class="custom-control-label" for="customCheck3">Telefono</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck4" type="checkbox">
                                    <label class="custom-control-label" for="customCheck4">Drenaje</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck5" type="checkbox">
                                    <label class="custom-control-label" for="customCheck5">Pavimentacion</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck6" type="checkbox">
                                    <label class="custom-control-label" for="customCheck6">Internet</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="motivoConsulta">
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Motivo (Quien lo refirio, historia del problema,Fecha de aparicion y evolucion,Tratamiento o terapia psicologuica anterior, otros datos relevantes)
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Descripcion del pasiente: Aspecto personal,edad que aparenta, estado de animo, lenguaje no verbal actitud frente al terapeuta, con quen viene, otros datos inportantes.
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                    </div>
                    
                    <div class="tab-pane fade" id="antecedentesFamiliares">
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Datos relevantes sobre la dinamica famliar(Eventos especiales, separaciones, divorcios perdidas cambios de domicilio)
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <label class="control-label" for="disabledInput">Familiograma</label>
                    </div>
                   
                    <div class="tab-pane fade" id="historia">
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Personal (Datos relevantes sobre su infancia, puvertad y adolecencia, crisis de desarollo periodo de vida favorito y el mas complicado).
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Aspecto emocional Expresion de emociones y sentimientos(Como identificar sus sentimientos y emociones? deque manera las diferencia? cuales son las mas y menos frecuentes? En que momento se presentan como las maneja?).
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Auto concepto Que idea tiene de si mismo?
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <h6>Expectativas del proceso psicoterapeutico</h6>
                            <label for="exampleTextarea">
                                (Que entiende por psicologia dudas, cometarios, que sea durante el proceso, que esta dispuesto a haser, que espera resibir?).
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>

                    </div>
                     <div class="tab-pane fade" id="desempeño">
                        <div class="form-group">
                            <label for="exampleTextarea">
                                FAMILIAR (Como es tu familia?, Relacion entre los miembros de tu faimilia, rol de cliente, alianzas, como se comunican?, otros datos importantes).
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                SOSIAL (Relacion con amigos, con miembros del sexo opuesto, pasatiempos, actividades de tiempo libre/fines de semana/vacasiones, opinion aserca de la amistad, amor, valores universales, avitos de lectura otro tipo de intereses).
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                ESCOLAR (Desempeño general, actitud frente la autoridad, su conducta expulciones escolares, opinion de maestros y compañeros, ventajas VS. desventajas de estudiar, motivacion).
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                SEXUAL (Tipo de educasion sobre sexualidad, que save sobre metodos aseptativos y enfermedades de trasmicion sexual?, como vive su sexualidad?, Culpas, intereses, conflictos, antecedentes de abuso sexual, la ejerce con responsavilidad, otros datos relevantes).
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                LABORAL (Travajo actual, pasados, relacion con jefes y compañeros, motivacion en travajo, otros datos relevantes)
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Habitos Actuales (Sueño, alimentacion, recreacion, Descripcion de un dia ordinario desde que se levanta hasta que se duerme).
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="historiales">
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Historia de adicciones en el pasiente identificado o dentro de la familia.
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Historia delincuente del pasiente o de la familiar.
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="">
                            <h5>Antecedententes de ideacion suicida o intento</h5>
                            <label class="control-label" for="disabledInput">
                                alguna ves has tenido deseos de dejar de vivir?(Si el entrevistado no es el pasiente, cometo con usted o detecto que el).
                            </label>
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input id="customRadio1" name="customRadio" class="custom-control-input" checked="" type="radio">
                                    <label class="custom-control-label" for="customRadio1">Si</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="customRadio2" name="customRadio" class="custom-control-input" type="radio">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Cuales eran sus pensamientos o ideas?, cuando surgieron estos pensamientos?
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="">
                            <h5>Evaluacion y riesgo suisidio</h5>
                            <label class="control-label" for="disabledInput">
                                actual mente sigue teniendo estos pensamienos e ideas?
                            </label>
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input id="customRadio1" name="customRadio" class="custom-control-input" checked="" type="radio">
                                    <label class="custom-control-label" for="customRadio1">Si</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="customRadio2" name="customRadio" class="custom-control-input" type="radio">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Si contesta si, has planeado como lo aras?
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Salud (problemas de).
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Otros pensamientos.
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="anotaciones">
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Bateria pscometrica
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Integracion de la evaluacion
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Rasgos de personalidad y mecanismos de defensa mas ususales en el paciente identificado.
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>

                        <h5>Diacnostico multiaxial</h5>
                        <div class="mb-3">
                            <label class="control-label">EjemI</label>
                            <input class="form-control" type="text">
                            <div class="invalid-feedback">
                                Dato no capturado
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="control-label">EjemII</label>
                            <input class="form-control" type="text">
                            <div class="invalid-feedback">
                                Dato no capturado
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="control-label">EjemIII</label>
                            <input class="form-control" type="text">
                            <div class="invalid-feedback">
                                Dato no capturado
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="control-label">EjemIV</label>
                            <input class="form-control" type="text">
                            <div class="invalid-feedback">
                                Dato no capturado
                            </div>
                        </div>
                        <label class="control-label">EjemV Escala de evalucion de actividad gloval(EEAG)</label>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="control-label">EEAG antes de iniciar terapia</label>
                                <input class="form-control" type="text">
                                <div class="invalid-feedback">
                                    Dato no capturado
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="control-label">EEAG despues de iniciar terapia</label>
                                <input class="form-control" type="text">
                                <div class="invalid-feedback">
                                    Dato no capturado
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Observaciones adiciaonles o comentarios
                            </label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="main container"></section>

    <footer class="container" id="pie">
        <hr class="mb-4">
        &copy; UABC Tijuana Baja California
    </footer>
    <script src="../Content/bootstrap/js/jquery.js"></script>
    <script src="../Content/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>