<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>Entrvista para Adultos</title>
    <link rel="stylesheet" href="../Content/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Content/bootstrap/css/estilos.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Penscape</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" placeholder="Search" type="text">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <section class="jumbotron">
        <div class="container">
            <h1>Centro Universitario de atencion psicologica e investigascion</h1>
            <p>Entravista para Adultos</p>
        </div>
    </section>

    <div class="container"> 
    		<div class="row">
    			<div class="col-md-9 order-md-1">
    				<ul class="nav nav-tabs">
                    	<li class="nav-item">
	                        <a class="nav-link active show" data-toggle="tab" href="#antecedentes">Antecedentes</a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link" data-toggle="tab" href="#desempeño">Desempeño</a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link" data-toggle="tab" href="#hisoriales">Hisoriales</a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link" data-toggle="tab" href="#situacion">Situacion</a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link" data-toggle="tab" href="#anotaciones">Anotaciones</a>
	                    </li>
	                </ul>

	                <div id="myTabContent" class="tab-content">
	                	<div class="tab-pane fade active show" id="antecedentes">
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Antecedentes familiares (Antecendentes relevantes de la familia nuclear, separaciones, perdidas, divorcios, cambios drasticos de domicilios, etc.).
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
                        	<hr class="mb-4">
	                        Familiograma (Diagrama familiar).
	                        <hr class="mb-4">
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Historia personal (Datos relevantes de su infancia, pubertad, adolecencia, crisis del desarrollo, periodo de la vida  faborito, y el mas complicado porque?).
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                    </div>

	                    <div class="tab-pane fade" id="desempeño">
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                <h5>Desempeño en las siguientes areaas</h5>
	                        		Familiar (como es tu familia? relacion entre los miembros de la familia, rol del cliente, alianzas, como se comunican, otros datos importantes).
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Sosial (Relacion del cliente con amigos, miembros del sexo opuesto, pasatiempos, opinion acerca de la amistad, amor, valores universales, etc.). 
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Escolar (Desempeño en general, actitud frente ala autoriadad, mala conducta o expulcion escolar).
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Sexual (Tipo de educasion que resivio al respecto, como vive su sexualidad, exixten culpas?, la ejerce con responsavilidad?, antecedentes de abuso sexual, otros datos reelevantes).
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Laboral (Le guta su travajo?, considera que el sueldo es justo para la labor que desempeña?, como es su relacion con sus jefes y compañeros de travajo?, otros datos reelevantes).
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Emocional (Funcionalidad, autoestima, seguridad en si mismo(a), miedos, angustia, deprecion, dependencia emocional, sentimientos de culpa, agresion hacia el/ella mismo(a) u otros[hijos]).
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Relaciones de pareja (Pareja actual y anteriores).
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Havitos actuales (Sueño, alimentacion, recreacion y descripcion y un dia ordinario desde que se levnta hasta que se duerme).
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                    </div>

	                    <div class="tab-pane fade" id="hisoriales">
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                               Historial de adicciones en el peciente identificado o dentro de la familia.
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
									Historia delictiva en el paciene o en la familia.	                           
								</label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                    </div>

	                    <div class="tab-pane fade" id="situacion">
	                        <div class="">
	                            <label class="control-label" for="disabledInput">
	                            	<h5>Antecedentes de ideacion suisida o intento.</h5>
	                        		Alguna ves estenido deseos de dejar de vivir? si el entrevistado no es el pasiente se entevista de la siguiente manera: Comento con usted o detecto que quiere dejar de vivir?
	                            </label>
	                            <div class="form-group">
	                                <div class="custom-control custom-radio">
	                                    <input id="customRadio1" name="customRadio" class="custom-control-input" checked="" type="radio">
	                                    <label class="custom-control-label" for="customRadio1">Si</label>
	                                </div>
	                                <div class="custom-control custom-radio">
	                                    <input id="customRadio2" name="customRadio" class="custom-control-input" type="radio">
	                                    <label class="custom-control-label" for="customRadio2">No</label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Cuales eran sus pensamientos o ideas? Cuando surgieron estas ideas?
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Intentaste hacer algo? Que hisiste? Se dio cuneta alguien? como se manejo esa situacion?
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div class="">
	                            <label class="control-label" for="disabledInput">
	                            	<h5>Evaluacion  de riesgo de suicidio</h5>
	                        		Actual mente sigues teniendo esos pensamientos o ideas?
	                            </label>
	                            <div class="form-group">
	                                <div class="custom-control custom-radio">
	                                    <input id="customRadio1" name="customRadio" class="custom-control-input" checked="" type="radio">
	                                    <label class="custom-control-label" for="customRadio1">Si</label>
	                                </div>
	                                <div class="custom-control custom-radio">
	                                    <input id="customRadio2" name="customRadio" class="custom-control-input" type="radio">
	                                    <label class="custom-control-label" for="customRadio2">No</label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Si contesta si, Has plenado como lo hasias?
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Salud (Problemas de)
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div>
	                            <label class="control-label" for="disabledInput">Otros padecimientos</label>
	                            <input class="form-control" type="text">
	                            <div class="invalid-feedback">
	                                Capturar
	                            </div>
	                        </div>
	                        
	                        <div class="">
	                            <label class="control-label" for="disabledInput">
	                            	Situaciones de violencia (Si existe continuar con el interrogatorio de lo contrario  pasar al siguiente apartado).
	                        		Existe 
	                            </label>
	                            <div class="form-group">
	                                <div class="custom-control custom-radio">
	                                    <input id="customRadio1" name="customRadio" class="custom-control-input" checked="" type="radio">
	                                    <label class="custom-control-label" for="customRadio1">Si</label>
	                                </div>
	                                <div class="custom-control custom-radio">
	                                    <input id="customRadio2" name="customRadio" class="custom-control-input" type="radio">
	                                    <label class="custom-control-label" for="customRadio2">No</label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="">
                            <label class="control-label" for="disabledInput">Forma de abuso</label>
	                            <div class="form-group">
	                                <div class="custom-control custom-checkbox">
	                                    <input class="custom-control-input" id="customCheck1" type="checkbox">
	                                    <label class="custom-control-label" for="customCheck1">Fisica</label>
	                                </div>
	                                <div class="custom-control custom-checkbox">
	                                    <input class="custom-control-input" id="customCheck2" type="checkbox">
	                                    <label class="custom-control-label" for="customCheck2">Psicologica</label>
	                                </div>
	                                <div class="custom-control custom-checkbox">
	                                    <input class="custom-control-input" id="customCheck3" type="checkbox">
	                                    <label class="custom-control-label" for="customCheck3">Sexual</label>
	                                </div>
	                            </div>
	                        </div>
	                        <div>
	                            <label class="control-label" for="disabledInput">Especificar la Forma</label>
	                            <input class="form-control" type="text">
	                            <div class="invalid-feedback">
	                                Capturar
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Frecuencia con la que se presenta la violencia, Con que frecuencia la golpea su pareja? Cada cuanto se pelea con su pareja? Con que frecuencia su pareja la insulta?(Cuantas veses por se mes/semana/dia).
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Gravedad y severidad de la violencia, Su pareja alguna ves le ha causado alguna herida de grvedad? Alguna ves a tenido que ir al hospital por algun golpe causado por su pareja? Ha sido amenasada con quitarle  a sus hijos por su pareja? Su pareja a amenasado con quitarle su livertad? (Explorar grado de daño fisico o psicologo hecho , consultas al medico, facturas, moretones, etc.).
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Conciencia de la sitiacion, Considera usted que se encuentra en una situacion de violencia? (Negacion o aseptacion del riesgo y la situacion de violencia).
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                                Recursos (Recursos economicos, red de apollo, familiar, amigos, instituciones, fortalezas internas etc.).
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                    </div>

	                    <div class="tab-pane fade" id="anotaciones">
	                        <div class="form-group">
	                            <label for="exampleTextarea">Bateria psicometrica</label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">Integracion de la evaluacion</label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                            	Rasgos de personalidad y mecanismos de defensa mas ususales en el pasiente identificado.
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <h5>Diagnostico multiaxial</h5>
	                        <div>
	                            <label class="control-label" for="disabledInput">Eje I</label>
	                            <input class="form-control" type="text">
	                            <div class="invalid-feedback">
	                                Capturar
	                            </div>
	                        </div>
	                        <div>
	                            <label class="control-label" for="disabledInput">Eje II</label>
	                            <input class="form-control" type="text">
	                            <div class="invalid-feedback">
	                                Capturar
	                            </div>
	                        </div>
	                        <div>
	                            <label class="control-label" for="disabledInput">Eje III</label>
	                            <input class="form-control" type="text">
	                            <div class="invalid-feedback">
	                                Capturar
	                            </div>
	                        </div>
	                        <div>
	                            <label class="control-label" for="disabledInput">Eje IV</label>
	                            <input class="form-control" type="text">
	                            <div class="invalid-feedback">
	                                Capturar
	                            </div>
	                        </div>
	                        <h6>Eje V Escala de evalucion de la actividad Gloval/EEAG?<h6>
	                        <div>
	                            <label class="control-label col-md-3" for="disabledInput">
	                            	EEAG antes de iniciar el etapa
	                            </label>
	                            <input class="form-control" type="text">
	                            <div class="invalid-feedback">
	                                Capturar
	                            </div>
	                        </div>
	                        <div>
	                            <label class="control-label col-md-3" for="disabledInput">
	                            	EEAG al finalizar la etapa
	                            </label>
	                            <input class="form-control" type="text">
	                            <div class="invalid-feedback">
	                                Capturar
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label for="exampleTextarea">
	                            	Opcervaciones adicionales y comentarios
	                            </label>
	                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	                        </div>
	                        <hr class="mb-4">
	                        Evaluacion clinica 
	                        <hr class="mb-4">
	                        Plan de tratamiento
	                        <hr class="mb-4">
	                    </div>

	                </div>
    			</div>
    		</div>
    </div>

    <footer class="container" id="pie">
        <hr class="mb-4">
        &copy; UABC Tijuana Baja California
    </footer>
    <script src="../Content/bootstrap/js/jquery.js"></script>
    <script src="../Content/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>/