
@{
    ViewData["Title"] = "Acerca";
}

<h1>Penscape</h1>
<p>Este proyecto fue desarrollado para la facultad de psicologia de la UABC.</p>
<p>Conoce mas en nuestro sitio web http://cupsi.com.mx/prueba/</p>
