
@{
    ViewData["Title"] = "ReportedeCaso";
}


<!DOCTYPE html>
<html>

<head>
    <title>Reporte de Caso</title>
    
</head>


<body>


<section class="jumbotron">
    <div class="container">
        <h1>Centro Universitario de atencion psicologica e investigacion</h1>
        <p>Unidaad de terapia familiar</p>
    </div>
</section>
</body>


</html>